* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Raleway", sans-serif;
}
/* nav */
.nav {
	height: 40px;
	background-color: #333;
	text-align: center;
	line-height: 40px;
}

.nav-item {
	display: inline-block;
}

.nav-item a {
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
	font-size: medium;
	letter-spacing: 2px;
	transition: color 0.3s;
}

.nav-item a:hover {
	color: #0086f3;
}

/*header*/
.header-img {
	position: relative;
	height: 200px;
	background-image: url("../img/digitization-5231610_1920.jpg");
	background-size: cover;
	color: white;
}
.header-text {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
	letter-spacing: 1px;
	z-index: 5;
}
.header-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(19, 19, 71, 0.438);
}
.header-text h1 {
	margin-bottom: 10px;
	letter-spacing: 2px;
}
/*main*/
main {
	margin: 50px auto;
	width: 1200px;
}
main h2 {
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
}
.about-us-box {
	position: relative;
	height: 300px;
	margin: 40px 0;
	background-position: center;
	background-attachment: fixed;
	border-radius: 50px 0 50px 0;
	overflow: hidden;
}
.about-us-bg {
	position: absolute;
	bottom: 0;
	height: 40%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.about-us-text {
	position: absolute;
	bottom: 20px;
	padding: 20px 40px;
	text-align: center;
	color: #fff;
}
.about-us-text h3 {
	text-transform: uppercase;
	padding-bottom: 10px;
}
.top {
	background-image: url(../img/digitization-5140071_1920.jpg);
}
.middle {
	background-image: url(../img/planet-1702788_1920.jpg);
}
.bottom {
	background-image: url(../img/woman-163426_1920.jpg);
}
/*main services*/
.services {
	position: relative;
	text-align: center;
	color: #ddd;
	list-style: none;
	padding: 40px 40px;
	height: 400px;
	margin: 40px 0;
	background-image: url(../img/planet-1702788_1920.jpg);
	background-position: center;
	background-attachment: fixed;
	border-radius: 50px 0 50px 0;
}
.services li {
	padding: 20px;
	font-size: 20px;
}
/*cennik*/
.prices-table {
	position: relative;
	margin: 0 auto;
	color: #ddd;
	font-size: 20px;
}
.prices-table td {
	padding: 10px 50px;
	background-color: #0086f3;
}
.prices-table th {
	padding: 10px 50px;
	background-color: #004985;
	text-transform: uppercase;
}
/*kontakt*/
.contact-table {
	margin: 0 auto;
	padding-bottom: 20px;
	font-size: 20px;
}
.fa-solid {
	margin: 10px;
}

/*footer*/
footer {
	height: 80px;
	line-height: 80px;
	background-color: #333;
	color: #ddd;
	font-size: 14px;
	text-align: center;
}
.icon-box {
	margin-left: 20px;
}
.icon-box a {
	margin: 0 3px;
	font-size: 30px;
	color: #ddd;
	transition: 0.6s;
}
.icon-box a:hover {
	color: #0086f3;
}
